
services:
    backend:
        build: ./backend
        container_name: backend
        ports:
            - "8000:8000"
        restart: unless-stopped
        networks:
            - app_network

    frontend:
        build: ./frontend/frontendanalisador    
        container_name: frontend
        ports:
            - "3000:3000"
        depends_on:
            - backend
        restart: unless-stopped
        networks:
            - app_network

networks:
    app_network:
        driver: bridge